
[submodule "external/bisect-core-ts-be"]
	path = external/bisect-core-ts-be
	url = https://github.com/bisect-pt/bisect-core-ts-be
[submodule "external/ebu-list-sdk"]
	path = external/ebu-list-sdk
	url = https://github.com/bisect-pt/ebu-list-sdk.git
[submodule "external/bisect-core-ts"]
	path = external/bisect-core-ts
	url = https://github.com/bisect-pt/bisect-core-ts.git
